<div class="container">
  <div class="row">
    <div class="large-3 columns">
      <%= image_tag 'megan.png', :class => 'logo' %>
    </div>
    <div class="large-5 columns" style="margin-top: 100px">
      <h2>Please log in!</h2>
      <form class="login_form" action="/login" method="post">
        <div class="row">
          <div class="large-7 columns">
            <input type="text" name="email" placeholder="Email address">
          </div>
        </div>
        <div class="row">
          <div class="large-7 columns">
            <input id="password" name="password" type="password" placeholder="Password">
          </div>
          <div class="large-5 columns">
            <button id="show_button" class="small button alert">Show Password</button>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <input type="submit" value="Log in" class="small button">
          </div>
        </div>
      </form>
    </div>
    <div class="large-4 columns" style="margin-top: 100px">
      <h3>Lost password?</h3>
      <p>
        No problem! To reset your password, simply leave the password field blank when you
        log in. You'll receive an email shortly with an encoded link. Follow the link and you'll
        be directed to a page where you may set a new password. It's easy.
      </p>
    </div>
  </div>
</div>

<%= javascript_include_tag "application" %>

<script type="text/javascript">
  $(function() {
    var show_button, password;
    
    show_button = $('#show_button');
    password = $('#password');
    
    show_button.on('click', function() {
      if ($(this).hasClass('success')) {
        password.attr('type','password');
        show_button.html("Show Password");
        show_button.removeClass('success');
        show_button.addClass('alert');
    
      } else {
        password.attr('type','text');
        show_button.html("Hide Password");
        show_button.removeClass('alert');
        show_button.addClass('success');
      }
      return false;
    });
  });
</script>

<%= render 'layouts/messages' %>
