<script type="text/template" id="user_list">
  <table class="table table-bordered table-hover spaced">
    <caption>{{= caption }}</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email address</th>
        <th>Phone numbers</th>
        <th>Credit Apps</th>
        <th class="number-column">Logins</th>
      </tr>
    </thead>
    <tbody>
      {{ rows }}
    </tbody>
  </table>
</script>
