<script type="text/template" id="auto_new_button">
  <div class="pull-right">
    <a id="auto_edit_link" rel="router" href="/autos/new"
      class="btn btn-success btn-medium" style="margin-top:-8px">New</a>
  </div>
</script>