<script type="text/template" id="site_navigation">
  <a rel="router" href="/" title="To the dashboard." class="brand">Bridge City Automotive</a>
  <ul class="nav">
    <li><a rel="router" href="/autos" title="Manage the autos for sale.">Autos</a></li>
    <li><a rel="router" href="/apps" title="Manage the credit applications.">Apps</a></li>
    <li><a rel="router" href="/users" title="Manage the client data.">Users</a></li>
  </ul>
  <ul class="nav pull-right">
    <li><a href="/logout">Log out</a></li>
  </ul>
</script>