<div class="row">
  <p class="pull-right">
    <button class="btn btn-info">ADD A NEW CAR</button>
  </p>
</div>
<section id="auto_list">
  <% if @available.empty? %>
    <div class="well spaced"><p>There are no autos available for sale.</p></div>
  <% else %>
    <%= render :partial => 'auto_list', :locals => { :automobiles => @available, :caption => "For sale" } %>
  <% end %>

  <% if @pending.empty? %>
    <div class="well spaced"><p>There are no autos pending sale.</p></div>
  <% else %>
    <%= render :partial => 'auto_list', :locals => { :automobiles => @pending, :caption => "Pending sale" } %>
  <% end %>

  <% if @sold.empty? %>
    <div class="well spaced"><p>No autos have been sold yet.</p></div>
  <% else %>
    <%= render :partial => 'auto_list', :locals => { :automobiles => @sold, :caption => "Sold" } %>
  <% end %>
</section>
