<% render :partial => 'auto_new_button' %>
<% render :partial => 'auto_list' %>
<% render :partial => 'auto_detail' %>
<% render :partial => 'auto_form' %>
<%= render :partial => 'app_list' %>
<%= render :partial => 'client_list' %>

<div id="insert_view_here"></div>
