<% render :partial => 'site/autos/detail' %>
<% render :partial => 'site/autos/form' %>
<% render :partial => 'site/autos/list' %>
<% render :partial => 'site/autos/new_button' %>
<% render :partial => 'site/autos/row' %>

<% render :partial => 'site/apps/detail' %>
<% render :partial => 'site/apps/form' %>
<% render :partial => 'site/apps/list' %>
<% render :partial => 'site/apps/row' %>

<% render :partial => 'site/users/detail' %>
<% render :partial => 'site/users/form' %>
<% render :partial => 'site/users/list' %>
<% render :partial => 'site/users/row' %>

<div id="insert_view_here"></div>
