<script type="text/template" id="auto_list">
  <table class="table table-bordered table-hover spaced">
    <caption>{{= caption }}</caption>
    <thead>
      <tr>
        <th>Auto</th>
        <th>Stock Number</th>
        <th>Color</th>
        <th>Style</th>
        <th class="number-column">Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{ rows }}
    </tbody>
  </table>
</script>